@model Model.DoctorsInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoctorsInfo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitEndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
