@model Model.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chamber.ChamberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamber.ChamberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
