@model DoctorsOnline.Models.Prescription

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Prescription</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PrescriptionId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientFirstName)
                @Html.ValidationMessageFor(model => model.PatientFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientLastName)
                @Html.ValidationMessageFor(model => model.PatientLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientDOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientDOB)
                @Html.ValidationMessageFor(model => model.PatientDOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientSymption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientSymption)
                @Html.ValidationMessageFor(model => model.PatientSymption)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OthersInfo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OthersInfo)
                @Html.ValidationMessageFor(model => model.OthersInfo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestDate)
                @Html.ValidationMessageFor(model => model.RequestDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DocPrescrition, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocPrescrition)
                @Html.ValidationMessageFor(model => model.DocPrescrition)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubmissionDate)
                @Html.ValidationMessageFor(model => model.SubmissionDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
